*{
    padding: 0;
    margin: 0;
}
body {
display: flex;
justify-content: center;
margin-top: 131px;
background-color: lightyellow;
}
#panorama {
width: 600px;
height: 400px;
margin-bottom: 20px;

}
#controls {
position: absolute;
bottom: 0;
z-index: 2;
text-align: center;
width: 100%;
padding-bottom: 3px;
}
.ctrl {
padding: 8px 5px;
width: 30px;
text-align: center;
background: rgba(200, 200, 200, 0.8);
display: inline-block;
cursor: pointer;
}
.ctrl:hover {
background: rgba(200, 200, 200, 1);
}
#temple2 h1 {
font-size: 35px;
margin-left: 87px;
margin-bottom: px;
padding-bottom: 45px;
}